<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-course-heading" data-cy="CourseCreateUpdateHeading" jhiTranslate="myblogApp.course.home.createOrEditLabel">
        Create or edit a Course
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="myblogApp.course.id" for="field_id">Id</label>
          <input
            type="text"
            class="form-control"
            name="id"
            id="field_id"
            data-cy="id"
            formControlName="id"
            [readonly]="editForm.get('id')!.value != null"
          />
          <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('id')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('id')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 16 }"
            >
              This field cannot be longer than 16 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="myblogApp.course.timeRequired" for="field_timeRequired">Time Required</label>
          <input
            type="number"
            class="form-control"
            name="timeRequired"
            id="field_timeRequired"
            data-cy="timeRequired"
            formControlName="timeRequired"
          />
          <div
            *ngIf="editForm.get('timeRequired')!.invalid && (editForm.get('timeRequired')!.dirty || editForm.get('timeRequired')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('timeRequired')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('timeRequired')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="myblogApp.course.order" for="field_order">Order</label>
          <select class="form-control" id="field_order" data-cy="order" name="order" formControlName="order">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="panierOption.id === editForm.get('order')!.value?.id ? editForm.get('order')!.value : panierOption"
              *ngFor="let panierOption of ordersCollection; trackBy: trackPanierById"
            >
              {{ panierOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="myblogApp.course.agents" for="field_agents">Agents</label>
          <select class="form-control" id="field_agents" data-cy="agents" multiple name="agents" formControlName="agents">
            <option
              [ngValue]="getSelectedCompte(compteOption, editForm.get('agents')!.value)"
              *ngFor="let compteOption of comptesSharedCollection; trackBy: trackCompteById"
            >
              {{ compteOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="myblogApp.course.restaurant" for="field_restaurant">Restaurant</label>
          <select class="form-control" id="field_restaurant" data-cy="restaurant" name="restaurant" formControlName="restaurant">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                restaurantOption.id === editForm.get('restaurant')!.value?.id ? editForm.get('restaurant')!.value : restaurantOption
              "
              *ngFor="let restaurantOption of restaurantsSharedCollection; trackBy: trackRestaurantById"
            >
              {{ restaurantOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
